name: Deploy Preview

on:
  pull_request_target:
    types: [opened, synchronize, closed]

concurrency: preview-${{ github.event.pull_request.number }}

permissions:
  contents: write
  pull-requests: write

jobs:
  deploy-preview:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          ref: ${{ github.event.pull_request.head.sha }}
      
      - name: Deploy preview
        uses: rossjrw/pr-preview-action@v1
        with:
          source-dir: .
