name: Deploy Branch Preview

on:
  push:
    branches-ignore:
      - main
      - gh-pages

permissions:
  contents: write

jobs:
  deploy-branch-preview:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - uses: JamesIves/github-pages-deploy-action@v4
        with:
          folder: .
          branch: gh-pages
          target-folder: branch-preview/${{ github.ref_name }}
          clean-exclude: branch-preview
          force: false
